.panel {
  background: white;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 70px #c7cbe3;
  height: 875px;
  padding-top: 50px;
  overflow-y: scroll;
  width: 375px;
}
button.in-cart {
  background: black;
}

h1 {
  padding-left: 40px;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin-left: 15px;
  display: flex;
  padding-right: 30px;
  position: relative;
  gap: 20px;
  margin-bottom: 45px;
}

ul.menu li:nth-child(4n + 1):before {
  --background: #e1f1fe;
}

ul.menu li:nth-child(4n + 2):before {
  --background: #ffe2f0;
}

ul.menu li:nth-child(4n + 3):before {
  --background: #f7f7fe;
}

ul.menu li:nth-child(4n + 4):before {
  --background: #defef0;
}

ul.menu li:before {
  background: var(--background);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 1;
}

ul.menu .plate {
  height: 148px;
  width: 148px;
  position: relative;
  z-index: 2;
  top: -15px;
}

ul.menu .content {
  padding-top: 30px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.menu-item {
  font-size: 1.125rem;
  line-height: 20px;
  margin: 0 0 16px 0;
  padding: 0;
}

.price,
.subtotal {
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

ul.menu .price {
  margin: 0 0 20px 0;
  padding: 0;
}

button {
  background: #6b00f5;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  padding: 4px 18px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

ul.menu button {
  position: absolute;
}
